*.suo
*.suo
*.cache
*.tmp
Texas Hold'em/GameLogic/bin/Debug/*.*
Texas Hold'em/GameLogic/obj/Debug/*.*
Texas Hold'em/UserManagement/obj/Debug/*.*
Texas Hold'em/UserManagement/bin/Debug/*.*
Texas Hold'em/Texas Hold'em/obj/Debug/*.*
Texas Hold'em/Texas Hold'em/bin/Debug/*.*
Texas Hold'em/Texas Hold'em/obj/Debug/*.*
Texas Hold'em/UserManagement/bin/Debug/*.*
Texas Hold'em/UserManagement/obj/Debug/*.*
Texas Hold'em/Testing/bin/Debug/*.*
Texas Hold'em/GameServer/bin/Debug/*.*
Texas Hold'em/GameServer/obj/Debug/*.*
Texas Hold'em/UserManagement/bin/Debug/nunit_random_seed.tmp
*.pdb
*.dll
Texas Hold'em/GameServer/obj/Release/GameServer.csproj.FileListAbsolute.txt
Texas Hold'em/Texas Hold'em/bin/Debug/Texas Holdem.exe
*.pdb
Texas Hold'em/Texas Hold'em/bin/Debug/Texas Holdem.exe
*.pdb
Texas Hold'em/UserManagement/bin/Debug/nunit_random_seed.tmp
*.dll
Texas Hold'em/UserManagement/bin/Debug/UserManagement.pdb
*.pdb